In [115]:
import pandas as pd
import numpy as np
import xlwt
from openpyxl import load_workbook
import  glob
import re
import phonenumbers
import datetime

In [116]:

df2 = pd.read_csv('contact_list .csv')         # read excel
df=pd.DataFrame(df2)
print(df)

                       Business Title    First Name     Last Name  \
0                   ABC Imports   Mr.          John         SMITH
1                           NaN    Mr          Carl         Jones
2            MT ALBERT PHARMACY    Dr         Jenna         Bates
3                           NaN    Ms          lucy       farange
4          A.N.Z.A.C Associates   NaN           NaN           NaN
5                           NaN   NaN        Justin  Smith-Wesson
6                           NaN   Mrs         Sarah      O'malley
7   p.p.p pet product providers    mr       michael         manly
8                           NaN   NaN         Jason           NaN
9                           NaN   NaN  Albert Grant           NaN
10                          NaN   NaN          Anna         Grant
11                          NaN   NaN        alfred           NaN
12           Guide Dog Services   NaN           NaN           NaN
13                          NaN   NaN          lisa           NaN
14                          NaN   NaN          Alan        Fields

   Date Of Birth     Address Line 1     Address Line 2     Suburb      City  \
0        1/13/69       23 Wilson St                NaN     Newton  Auckland
1         7/9/88     111 Bakers Ave                NaN  Grey Lynn  Auckland
2        11/2/72  49 Hadsfield Cres                NaN  Mt Albert  Auckland
3         3/8/83   15a Andrews lane                NaN  Grey Lynn  Auckland
4            NaN   73 Phillips Road                NaN  mt albert  auckland
5       2-2-1995    31 Futures Cres                NaN     Newton  Auckland
6      3/21/1951      5 Queens Road                NaN  Grey Lynn  Auckland
7      10/1/1970     54 King Street                NaN  Mt Albert  Auckland
8      5/24/1993             Unit 9    87 Georges Road  Grey Lynn  auckland
9      6/27/1986     74 House Place                NaN  mt albert  Auckland
10    10/26/1978     74 House Place                NaN     Newton  Auckland
11    12/20/1973                  5        Living Road  Grey Lynn  Auckland
12           NaN    65 Flemming Way                NaN  Mt Albert  auckland
13     8/14/2001       47 Road Road                NaN  Grey Lynn  Auckland
14     9/20/1960                NaN  10a fortitude way  mt albert  Auckland

    Post Code  Home Number   Fax Number    Work Number  Mobile Number  \
0        1010  09 559-4886          NaN            NaN   6.429227e+10
1        1012     582-4491          NaN  (09) 382-8858            NaN
2        1025     482-6975     482-6976            NaN   2.566488e+08
3        1012          NaN          NaN     6425325474   6.425325e+09
4        1025     555 9462          NaN            NaN            NaN
5        1010          NaN          NaN            NaN   2.751353e+09
6        1012  64245756955          NaN            NaN   6.424576e+10
7        1025          NaN          NaN            NaN            NaN
8        1012  (09)5132545          NaN            NaN            NaN
9        1025          NaN          NaN    02745621568            NaN
10       1010          NaN          NaN            NaN            NaN
11       1012          NaN          NaN            NaN            NaN
12       1025          NaN  09-254-1159    09-254-1158            NaN
13       1012          NaN          NaN            NaN            NaN
14       1025          NaN          NaN            NaN            NaN

    Other Number                                              Notes
0            NaN                   A little bit deaf, speak clearly
1            NaN                                                NaN
2            NaN                                                NaN
3            NaN                            ; DROP TABLE `contact`;
4            NaN                                                NaN
5            NaN                                                NaN
6            NaN                                                NaN
7            NaN  Hi vet clinic you are my favourite clinic 😊 ki...
8            NaN                                                NaN
9            NaN                                                NaN
10           NaN                                                NaN
11           NaN                                                NaN
12   642545678.0                                                NaN
13           NaN                                                NaN
14           NaN  "CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP...

In [117]:
print(df.columns.values)

['Business' 'Title' 'First Name' 'Last Name' 'Date Of Birth'
 'Address Line 1' 'Address Line 2' 'Suburb' 'City' 'Post Code'
 'Home Number' 'Fax Number' 'Work Number' 'Mobile Number' 'Other Number'
 'Notes']

In [118]:
# print(df['Business'])
#clean the business column, have acronyms be capitalized 
#the sample is too small currently I assume if there is "." inside will do the tranform
for i,each in df['Business'].items():
    if not pd.isnull(each):
        if "." in each.split(' ')[0]:
            temp_array=each.split(' ')
            temp_array[0]=temp_array[0].upper()
            each = ' '.join(temp_array)
            df.loc[i,'Business']=each
#             print(each)

In [119]:
# print(df['Title'])
#first letter capitalized, remove unwanted "."
#sample is too small maybe some other unwanted char will be removed
# as the database only accept the title in title list, other values will be removed
df['Title'] = df['Title'].str.replace('.','').str.capitalize() 


#for test
# df['Title'][0]='haha'

wrong_title_list=[]
title_list=['Mr','Mrs','Miss','Ms','Dr']
for i,each in df['Title'].items():
    if str(each) != "nan":
#         print(each)
        if str(each) not in title_list:
            wrong_title_list.append(each)
            df['Title'][i]=np.nan
print(wrong_title_list)

[]

In [120]:
#capitalize first name and last name
df['First Name']=df['First Name'].str.capitalize() 
df['Last Name']=df['Last Name'].str.capitalize()

In [121]:
#tranfrom date of birth column, currently only replace - to /
# also add to 19 to format the date yyyy(this migth need to negotiate with others )
df[ 'Date Of Birth']=df[ 'Date Of Birth'].str.replace("-","/")
for i,each in df['Date Of Birth'].items():
    if not pd.isnull(each):
        if str(each[-3])=="/":
            temp_str=each[0:-2]+'19'+each[-2:] 
            df.loc[i,'Date Of Birth']=datetime.datetime.strptime(temp_str, "%m/%d/%Y").strftime("%Y-%m-%d")
        else:
            df.loc[i,'Date Of Birth']=datetime.datetime.strptime(each, "%m/%d/%Y").strftime("%Y-%m-%d")

In [122]:
#transform the Home number column, not so sure about the NZ phone number and home number format, need to check

# print(df['Home Number'])

for i,each in df['Home Number'].items():
    if not pd.isnull(each):
        print(each)
        df.loc[i,'Home Number']=re.sub("[^0-9^.]", "", each)
        each = re.sub("[^0-9^.]", "", each)
        print(each)
        if not str(each).startswith('09'):      
            if str(each).startswith('02') or str(each).startswith('64') : 
                if pd.isnull(df['Mobile Number'][i]) and len(each)>8:
#                     the lenth is not sure, temprary set to 8
                    df.loc[i,'Mobile Number']=each
                    df.loc[i,'Home Number']=np.nan
                    continue
                elif pd.isnull(df['Other Number'][i]) and len(each)>8:
                    df.loc[i,'Other Number']=each
                    df.loc[i,'Home Number']=np.nan
                    continue
            else:
                df.loc[i,'Home Number']="09"+str(df['Home Number'][i])
        temp_str = str(df.loc[i,'Home Number'])
        df.loc[i,'Home Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.NATIONAL)

09 559-4886
095594886
582-4491
5824491
482-6975
4826975
555 9462
5559462
64245756955
64245756955
(09)5132545
095132545

In [123]:
# transform work number
wrong_work_number=[]
for i,each in df['Work Number'].items():
    if not pd.isnull(each):
#         print(each)
        each=str(re.sub("[^0-9^.]", "", each))
        if each.startswith('09') :
            temp_str=each
            df.loc[i,'Work Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.NATIONAL)
        elif each.startswith('64') or (each.startswith('02') and len(each)>8):
            temp_str=each
            df.loc[i,'Work Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.INTERNATIONAL)
        else:
            wrong_work_number.append(df.loc[i,'Work Number'])
print(df['Work Number'])
print(wrong_work_number)

0                  NaN
1          09-382 8858
2                  NaN
3         +64 25325474
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9     +64 274 562 1568
10                 NaN
11                 NaN
12         09-254 1158
13                 NaN
14                 NaN
Name: Work Number, dtype: object
[]

In [124]:
#transform mobile phone
df['Mobile Number'] = df['Mobile Number'].astype(str).str.replace('.0','').replace('nan',np.nan)

for i,each in df['Mobile Number'].items():
    if not pd.isnull(each):
        temp_str=re.sub("[^0-9^.]", "", each)
        print(temp_str)
        df.loc[i,'Mobile Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.INTERNATIONAL)
#         each = re.sub("[^0-9^.]", "", each)
#         if not each.startswith('64'):
#             df.loc[i,'Mobile Number'] = "64"+each

64292267751
256648795
6425325474
2751353288
64245756955

In [125]:
wrong_Other_number=[]
df['Other Number'] = df['Other Number'].astype(str).str.replace('.0','').replace('nan',np.nan)

for i,each in df['Other Number'].items():
    if not pd.isnull(each):
        print(each)
        each=str(re.sub("[^0-9^.]", "", each))
        if each.startswith('09') :
            temp_str=each
            df.loc[i,'Other Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.NATIONAL)
        elif each.startswith('64') or (each.startswith('02') and len(each)>8):
            temp_str=each
            df.loc[i,'Other Number']=phonenumbers.format_number(phonenumbers.parse(temp_str, 'NZ'),phonenumbers.PhoneNumberFormat.INTERNATIONAL)
        else:
            wrong_work_number.append(df.loc[i,'Other Number'])
print(df['Other Number'])
print(wrong_Other_number)

64245756955
642545678
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6     +64 245756955
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12    +64 642545678
13              NaN
14              NaN
Name: Other Number, dtype: object
[]

In [126]:
print(df)

                       Business Title    First Name     Last Name  \
0                   ABC Imports    Mr          John         Smith
1                           NaN    Mr          Carl         Jones
2            MT ALBERT PHARMACY    Dr         Jenna         Bates
3                           NaN    Ms          Lucy       Farange
4          A.N.Z.A.C Associates   NaN           NaN           NaN
5                           NaN   NaN        Justin  Smith-wesson
6                           NaN   Mrs         Sarah      O'malley
7   P.P.P pet product providers    Mr       Michael         Manly
8                           NaN   NaN         Jason           NaN
9                           NaN   NaN  Albert grant           NaN
10                          NaN   NaN          Anna         Grant
11                          NaN   NaN        Alfred           NaN
12           Guide Dog Services   NaN           NaN           NaN
13                          NaN   NaN          Lisa           NaN
14                          NaN   NaN          Alan        Fields

   Date Of Birth     Address Line 1     Address Line 2     Suburb      City  \
0     1969-01-13       23 Wilson St                NaN     Newton  Auckland
1     1988-07-09     111 Bakers Ave                NaN  Grey Lynn  Auckland
2     1972-11-02  49 Hadsfield Cres                NaN  Mt Albert  Auckland
3     1983-03-08   15a Andrews lane                NaN  Grey Lynn  Auckland
4            NaN   73 Phillips Road                NaN  mt albert  auckland
5     1995-02-02    31 Futures Cres                NaN     Newton  Auckland
6     1951-03-21      5 Queens Road                NaN  Grey Lynn  Auckland
7     1970-10-01     54 King Street                NaN  Mt Albert  Auckland
8     1993-05-24             Unit 9    87 Georges Road  Grey Lynn  auckland
9     1986-06-27     74 House Place                NaN  mt albert  Auckland
10    1978-10-26     74 House Place                NaN     Newton  Auckland
11    1973-12-20                  5        Living Road  Grey Lynn  Auckland
12           NaN    65 Flemming Way                NaN  Mt Albert  auckland
13    2001-08-14       47 Road Road                NaN  Grey Lynn  Auckland
14    1960-09-20                NaN  10a fortitude way  mt albert  Auckland

    Post Code  Home Number   Fax Number       Work Number     Mobile Number  \
0        1010  09-559 4886          NaN               NaN   +64 29 226 7751
1        1012  09-582 4491          NaN       09-382 8858               NaN
2        1025  09-482 6975     482-6976               NaN     +64 256648795
3        1012          NaN          NaN      +64 25325474      +64 25325474
4        1025  09-555 9462          NaN               NaN               NaN
5        1010          NaN          NaN               NaN  +64 27 513 53288
6        1012          NaN          NaN               NaN     +64 245756955
7        1025          NaN          NaN               NaN               NaN
8        1012  09-513 2545          NaN               NaN               NaN
9        1025          NaN          NaN  +64 274 562 1568               NaN
10       1010          NaN          NaN               NaN               NaN
11       1012          NaN          NaN               NaN               NaN
12       1025          NaN  09-254-1159       09-254 1158               NaN
13       1012          NaN          NaN               NaN               NaN
14       1025          NaN          NaN               NaN               NaN

     Other Number                                              Notes
0             NaN                   A little bit deaf, speak clearly
1             NaN                                                NaN
2             NaN                                                NaN
3             NaN                            ; DROP TABLE `contact`;
4             NaN                                                NaN
5             NaN                                                NaN
6   +64 245756955                                                NaN
7             NaN  Hi vet clinic you are my favourite clinic 😊 ki...
8             NaN                                                NaN
9             NaN                                                NaN
10            NaN                                                NaN
11            NaN                                                NaN
12  +64 642545678                                                NaN
13            NaN                                                NaN
14            NaN  "CONTACT OWES A LOT OF MONEY! ON A CREDIT STOP...

In [127]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="admin",passwd="aa112233", database='ezy',charset="utf8mb4")
mycusor = mydb.cursor()   
df['id'] = pd.read_sql_query('select coalesce(MAX(id), 1) from contact',mydb).iloc[0,0] + range(len(df))

In [128]:
print(df.columns.values)

['Business' 'Title' 'First Name' 'Last Name' 'Date Of Birth'
 'Address Line 1' 'Address Line 2' 'Suburb' 'City' 'Post Code'
 'Home Number' 'Fax Number' 'Work Number' 'Mobile Number' 'Other Number'
 'Notes' 'id']

In [129]:
df_contact=pd.DataFrame()
df_contact['id']=df['id']
df_contact['title']=df['Title']
df_contact['first_name']=df['First Name']
df_contact['last_name']=df['Last Name']
df_contact['company_name']=df['Business']
df_contact['date_of_birth']=df['Date Of Birth']
df_contact['notes']=df['Notes']

In [130]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://admin:aa112233@localhost:3306/ezy?charset=utf8mb4')

# df_contact.to_sql(name='contact',con=engine,if_exists='append',index=False)

In [131]:
df_address=pd.DataFrame()
df_address['contact_id']=df['id']
df_address['street1']=df['Address Line 1']
df_address['street2']=df['Address Line 2']
df_address['suburb']=df['Suburb']
df_address['city']=df['City']
df_address['post_code']=df['Post Code']

In [132]:
# df_address.to_sql(name='address',con=engine,if_exists='append',index=False)

In [136]:
contact_id=[]
name=[]
content=[]
type=[]


for i,each in df['Home Number'].items():
    if not pd.isnull(each):
        contact_id.append(df['id'][i])
        temp_str=""
        if not

09-559 4886
09-582 4491
09-482 6975
09-555 9462
09-513 2545

In [138]:
test=pd.DataFrame()
弄个复制fillna 
test['name']=df['Title']+' '+df['First Name']+' '+df['Last Name']
print(test['name'])

0          Mr John Smith
1          Mr Carl Jones
2         Dr Jenna Bates
3        Ms Lucy Farange
4                    NaN
5                    NaN
6     Mrs Sarah O'malley
7       Mr Michael Manly
8                    NaN
9                    NaN
10                   NaN
11                   NaN
12                   NaN
13                   NaN
14                   NaN
Name: name, dtype: object